.container {
    width: 400px;
    padding: 10px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.title {
    margin-bottom: 10px;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-evenly;
}
  
.controls > button {
    padding: 10px 15px;
    background-color: RoyalBlue;
    color: #fff;
    font-weight: 500;
    font-family: inherit;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
    transition: box-shadow 250ms linear;
}
  
.controls > button:active {
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}
  
.value {
    display: block;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}
